<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Redirecting to Application Server</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script> -->
</head>
<body>
	<h3>
		<Strong></strong>
	</h3>
	<!-- <a href="http://45.118.160.203:8087/Helpdesk/">Local Login</a>
	<br>
	<button type="button" th:onclick="getAuth()">Show Alert</button> -->
	<a th:href="@{/auth}">AD Login</a>
	<!-- <a href="https://sts.astralpipes.com/adfs/ls/IdpInitiatedSignOn">AD Login</a> -->
</body>
<script type="text/javascript">
function getAuth() {
	var l = window.location;
	var base_url = l.protocol + "//" + l.host + "/" + l.pathname.split('/')[1];
	var serviceUrl = base_url + "/auth";
	// window.open(serviceUrl, '_blank');
	$.ajax({
		url : serviceUrl,
		type : 'get',
	}).done(function(data) {
		console.log(data);
	});
}
</script>
</html>